<div class="ui grid"  style="padding-top: 50px;">
  <div class="sixteen wide column">
    <div class="ui middle aligned divided list" *ngFor="let todo of todos">
      <div class="item">
        <div class="right floated content">
          <i class="trash icon" (click)="onDelete(todo)"></i>
        </div>
        <ng-container *ngIf="todo.completed; else: elseBlock">
            <i class="icon check square" style="color: green"></i>
        </ng-container>
        <ng-template #elseBlock>
            <i class="icon minus square" style="color: red;"></i>
        </ng-template>
        <div class="content" (click)="onUpdateCompleted(todo)">
          <div class="header">{{ todo.title }}</div>
          {{ todo.description }}
        </div>
      </div>
    </div>
  </div>
</div>
<div (click)="openModal()" class="ui bottom primary attached button" style="margin-top: 15px">
  Teendő hozzáadása
</div>
<app-todo-form (dataAdded)="onDataAdded($event)"  [modalOpen]="modalOpen" (closeModalEvent)="closeModal()"></app-todo-form>

