<form [formGroup]="todoForm" class="ui form">
  <div class="field">
    <label>Cím</label>
    <input type="text" formControlName="title" />
    <div
      *ngIf="submitted && todoForm.get('title')?.errors?.['required']"
      class="ui pointing red basic label"
    >
      A cím megadása kötelező
    </div>
  </div>
  <div class="field">
    <label>Határidő</label>
    <input type="text" formControlName="due_date" appDateMask />
    <div
      *ngIf="submitted && todoForm.get('due_date')?.errors?.['required']"
      class="ui pointing red basic label"
    >
      A lejárati dátum megadása kötelező
    </div>
  </div>
  <div class="field">
    <label>Leírás</label>
    <textarea formControlName="description" rows="3"></textarea>
  </div>
  <button class="ui button" (click)="onSubmit()">Mentés</button>
</form>
